{% extends 'dosen/base.html' %}
{% block title %}Manajemen Fakultas - SIMPEG{% endblock %}
{% block page_title %}Manajemen Fakultas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-3">
  <h5 class="mb-0">Daftar Fakultas</h5>
  <a href="{% url 'fakultas_create' %}" class="btn btn-success btn-sm"><i class="bi bi-plus"></i> Tambah Fakultas</a>
</div>
<div class="card">
  <div class="card-body p-3">
    <table class="table table-sm table-hover mb-0" id="dataTable">
      <thead><tr><th>Kode</th><th>Nama Fakultas</th><th class="text-center">Jml. Dosen</th><th class="text-center">Aksi</th></tr></thead>
      <tbody>
        {% for fak in fakultas_list %}
        <tr>
          <td><span class="badge bg-success">{{ fak.kode }}</span></td>
          <td>{{ fak.nama }}</td>
          <td class="text-center">{{ fak.jumlah_dosen }}</td>
          <td class="text-center"><a href="{% url 'fakultas_edit' fak.pk %}" class="btn btn-xs btn-outline-primary"><i class="bi bi-pencil"></i></a></td>
        </tr>
        {% empty %}<tr><td colspan="4" class="text-muted text-center py-3">Belum ada data fakultas</td></tr>{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
